
// Sizes
// ===========================

:root {
  --default-size: 16;
}

// Structure
// ===========================

$default-padding: 2em;
$color-primary: #52d377;


// Herdados
// ===========================

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
