
// Sizes
// ===========================

:root {
  --default-size: 16;
  --default-height: calc(100vh - 60px);
}

// Structure
// ===========================

$default-padding: 2em;


// Herdados
// ===========================

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
